# copy this file to .env in the root of your project `cp src/env.example .env` and fill in the values.

# Available platform options `ollama` or `bedrock`
VITE_PLATFORM='ollama'
VITE_MODEL='llama3.1'

# AWS Credentials
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_AWS_SESSION_TOKEN=
VITE_AWS_REGION="us-east-1"
