@use '@angular/material' as mat;

@include mat.core();
$client-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($client-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif
}
