/* style.css - Updated styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

input, textarea {
  font-size: 16px;

}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* min-height: 60vh; */
  height: 100%;
  width: 100%;
  gap: 2px;
  padding: 2px;;
}

#inputText{
  padding: 8px;
}

.input {
  margin-bottom: 10px;
  height: 100%;
  max-height: 400px;
}

.output {
  margin-bottom: 10px;
  border: solid 1px black;
  height: 100%;
  padding: 8px;
  min-height: 20vh;
  max-height: 400px;
  overflow-y: scroll;
}

#editorInput {
  background-color: black;
  color:whitesmoke;
  min-height: 40vh;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  color: black;
  background: white;
}

iframe {
  height: 100%;
  width: 100%;
}

.terminal {
  padding: 2px;
}

h2 {
  margin-bottom: 0;
  padding: 2px;
}


